<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.camping.mapper.AdMemMapper">

	<select id = "memberInfo">
		select * from account
	</select>
	
	<select id = "getMemCount" resultType="Integer">
		select count(*) from account
	</select>
	
	<select id="getMemList" resultType="org.camping.model.InfoDTO">
		select * from (select account.*, rownum r from (select * from account order by reg) account) 
		<![CDATA[where r>=#{startRow} and r<=#{endRow}]]>
	</select>
	<update id = "memRestore">
		update account set status = '1' where id=#{id} and status='0'
	</update>
	<update id = "memDelete">
		update account set status = '0' where id=#{id} and status='1'
	</update>
	<select id ="serchId" resultType = "org.camping.model.InfoDTO">
		select * from (select account.*, rownum r from (select * from account
			<where>
				id like '%'||#{idSerch}||'%' 
			</where>
				order by reg) account)
		<![CDATA[where r>=#{startRow} and r<=#{endRow}]]>
	</select>
	<select id ="idCount" resultType = "Integer">
		select count(*) from account  
		<where>
			id like '%'||#{idSerch}||'%' 
		</where>
	</select>
</mapper>